<div class="nested-fields">
  <div class="nested-fields2">
    <div class="nested-row1">
      <div class="col-md">
        <label class="control-label">作品名</label>
          <%= f.collection_select(:chain_item, Item.all.order(:position), :chain_name, :chain_name, {include_blank: "選択してください"}, {class:"invoice-item-name" }) %>
          <div id="search-result"></div> 
      </div>
    </div>
    <div class="nested-row2">
      <div class="col-md">
        <label class="control-label">サイズ</label>
        <%= f.text_field :size, placeholder: "例）45cm", class:"invoice-item-size" %>
      </div>
      <div class="col-md">
        <label class="control-label">単価</label>
        <%= f.text_field :price, placeholder: "半角数字", class:"invoice-item-price" %>
      </div>
      <div class="col-md">
        <label class="control-label">個数</label>
        <%= f.text_field :quantity, placeholder: "半角数字", class:"invoice-item-qty" %>
      </div>
      <%= link_to_remove_association '削除', f, class:"parts-delete" %>
    </div>
  </div>
</div>