<%= render "shared/header" %>

<div class="container">
<h1>Invoice</h1>
<br>
  <%= form_with model: @invoice, url: invoices_path, method: :post, local: true do |f| %>

    <%= f.date_field :issue_date, placeholder: "日付" %>
    <%= f.text_field :issue_number, placeholder: "No." %>
    <%= f.collection_select :client_id, Client.all, :id, :name, include_blank: "選択して下さい" %>

    <div>
      <%= f.fields_for :invoice_items do |invoice_item| %>
      <%= render 'invoice_item_fields', f: invoice_item %>
      <%- end %>
      <%= link_to_add_association 'item追加', f, :invoice_items %>
    </div>
    
    <%= f.submit 'PDF出力+保存'%>

  <% end %>

  <%= link_to "PDFを表示", post_pdf_index_path(format: "pdf") %>
  <%= link_to "pdf", post_pdf_index_path(:format=>:pdf) , class: 'btn btn-primary' %>

</div>
