<%= render "shared/header" %>

<div class="container">
  <div class="title">
    <h1>入出庫管理</h1>
  </div>
  <div class="sub-title">
    <h2><i class="fas fa-square"></i>入出庫登録</h2>
  </div>

  <%= form_with model: @stock_inventory, url: stocks_path, local: true  do |f| %>
    <%= f.collection_select(:in_out, InOut.all, :id, :name, {}, {}) %>
    <p class="parts-subtitle">日付</p>
    <%= f.date_field :date , class:"invoice-date" %>
    <p class="parts-subtitle">作品名</p>
    <%= f.collection_select(:item_id, Item.all.order(:position), :id, :chain_name, {}, {}) %>
    <p class="parts-subtitle">内容</p>
    <%= f.text_field :content, placeholder: "例）50", class:"client-per"%>
    <p class="parts-subtitle">個数</p>
    <%= f.text_field :inv_quantity, placeholder: "例）50", class:"client-per"%>
    <div class="item-regi-submit-post">
      <%= f.submit '登録' , class:"item-regi-submit" %>
    </div>
  <% end %>

  <div class="sub-title">
    <h2><i class="fas fa-square"></i>取引先・顧客一覧</h2>
  </div>
  <div class="client-lists-box">
    <table class="client-lists">
      <thead>
        <tr>
          <th>日付</th>
          <th>作品名</th>
          <th colspan="4"></th>
        </tr>
      </thead>
      <tbody>
        <% @inventories.each do |inventory| %>
          <tr>
            <td><%= inventory.date %></td>
            <td><%= Item.find(inventory.stock.item_id).chain_name %></td>
            <td><%= inventory.content %></td>
            <td><%= inventory.inv_quantity %></td>
            <td class="td-edit"><%= link_to '編集', "#" , class:"edit-link" %></td>
            <td class="td-destroy"><%= link_to '削除', "#", method: :delete, class:"destroy-link" %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>