<%= render "shared/header" %>

<div class="container">
  <div class="title">
    <h1>取引先・顧客管理</h1>
  </div>
  <div class="sub-title">
    <h2><i class="fas fa-square"></i>取引先・顧客登録</h2>
  </div>
  <%= form_with model: @client, url: clients_path, local: true, class:"registration-form" do |f| %>
    <p class="parts-subtitle">取引先・顧客名</p>
    <%= f.text_field :name, placeholder: "例）Aio株式会社", class:"client-name" %>
    <p class="parts-subtitle">掛け率(自社取り分)</p>
    <p><%= f.text_field :percentage, placeholder: "例）50", class:"client-per"%>%</p>
    <div class="item-regi-submit-post">
      <%= f.submit '登録' , class:"item-regi-submit" %>
    </div>
  <% end %>

  <div class="sub-title">
    <h2><i class="fas fa-square"></i>取引先・顧客一覧</h2>
  </div>
  <div class="client-lists-box">
    <table class="client-lists">
      <thead>
        <tr>
          <th>取引先・顧客名</th>
          <th>掛け率</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.percentage %>%</td>
            <td class="td-edit"><%= link_to '編集', "#" , class:"edit-link" %></td>
            <td class="td-destroy"><%= link_to '削除', client_path(client.id), method: :delete, class:"destroy-link" %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>