<div class="container">
<h2>ガラスパーツ<h2>
<%= form_with model: @glass, url: glasses_path, method: :post, local: true do |f| %>
  <%= f.text_field :name, placeholder:"ガラスパーツ名" %>
  <%= f.collection_select :opal_color_id, OpalColor.all, :id, :color, include_blank: "選択して下さい" %>
  <%= f.submit '登録' %>
<% end %>
<ul id="glass_ul" class="sort_ul">
  <% @glasses.each do |gla| %>
    <li class="glass_li sort_li">
      <i class="fas fa-grip-lines-vertical handle"></i>
      <%= gla.name %><%= link_to '削除', glass_path(gla.id), method: :delete %>
    </li>
  <% end %>
</ul>
</div>