<%= render "shared/header" %>

<div class="container">
  <div class="title">
    <h1>作品管理</h1>
  </div>

  <div class="sub-title">
    <h2>作品情報編集</h2>
  </div>

  <%= form_with model: @item, url: item_path, local: true, class:"registration-form" do |f| %>

    <div class="item-regi-image">
      <p><i class="fas fa-images"></i><%= f.label :image, '画像をアップロード' %></p>
      <%= f.file_field :image, id:"item-image", class:"image-form" %>
      <div id="image-list" class="preview-image"></div>
    </div>

    <table class="item-regi-table">
      <thead>
        <tr>
          <th><%= f.label :collection_id, 'シリーズ'%></th>
          <th><%= f.label :name, 'アイテム名' %></th>
          <th><%= f.label :category_id, 'カテゴリー'%></th>
          <th><%= f.label :material_id, '金具材質'%></th>
          <th><%= f.label :opal_color_id, 'オパールカラー'%></th>
          <th><%= f.label :price, '金額' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= f.collection_select :collection_id, Collection.all.order(:position), :id, :name, { include_blank: "選択して下さい" }, { class:"item-regi-select" } %></td>
          <td><%= f.text_field :name, placeholder:"アイテム名", class:"item-regi-name" %></td>
          <td><%= f.collection_select :category_id, Category.all.order(:position), :id, :name,{ include_blank: "選択して下さい" }, { class:"item-regi-select" } %></td>
          <td><%= f.collection_select :material_id, Material.all.order(:position), :id, :name,{ include_blank: "選択して下さい" }, { class:"item-regi-select" } %></td>
          <td><%= f.collection_select :opal_color_id, OpalColor.all.order(:position), :id, :color, { include_blank: "選択して下さい" }, { class:"item-regi-select" } %></td>
          <td><%= f.text_field :price, placeholder:"金額", class:"item-regi-price" %></td>
        </tr>
      </tbody>
    </table>

    <p class="parts-subtitle">金属パーツ</p>
    <div class="parts-add-form">
      <%= f.fields_for :item_parts do |item_part| %>
        <%= render 'item_part_fields', f: item_part %>
      <%- end %>
      <div class="cocoon-links">
        <%= link_to_add_association '+パーツ追加', f, :item_parts, class:"add-btn" %>
      </div>
    </div>

    <p class="parts-subtitle">ガラスパーツ</p>
    <div class="parts-add-form">
      <%= f.fields_for :item_glasses do |item_glass| %>
        <%= render 'item_glass_fields', f: item_glass %>
      <%- end %>
      <div class="cocoon-links">
        <%= link_to_add_association '+パーツ追加', f, :item_glasses, class:"add-btn" %>
      </div>
    </div>
    
    <div class="item-regi-submit-post">
      <%= f.submit '変更' , class:"item-regi-submit" %>
    </div>
    <div class="form-btn-post">
      <%= link_to(new_item_path , class:"back-link") do %>
        <i class="fas fa-backward"></i> 変更せずに戻る
      <% end %>
    </div>
  <% end %>
</div>