<div class="container">
<h1>一覧表示</h1>
<br>

<%= form_with model: @item, class:'form-wrap', local: true do |f| %>
    <div class="item-field", id='item-field'>
      <%= f.label :name, "item名" %>
      <%= f.text_field :name, class:"input-item", id:"input-item" %>
    </div>
    <div id="search-result">
    </div>
  </div>
  <div class="submit-post">
    <%= f.submit "Send", class: "submit-btn" %>
  </div>
<% end %>

<ul id="item_ul" class="sort_ul">
  <% @items.each do |item| %>
    <li class="item_li sort_li">
      <i class="fas fa-grip-lines-vertical handle"></i>
      <%= item.name %><%= link_to '削除', item_path(item.id), method: :delete %>
    </li>
  <% end %>
</ul>



</div>
