
<%= render "shared/header" %>

<div class="container">
<h1>一覧表示</h1>
<br>

<h1>
  商品検索
</h1>
<%= search_form_for @p, url: search_items_path do |f| %>
  <%= f.label :collection_name_eq, 'シリーズ：' %>
  <%= f.collection_select :collection_name_eq, @collections, :name, :name, include_blank: '指定なし'%>
  <br>
  <%= f.label :category_name_eq, 'カテゴリー：' %>
  <%= f.collection_select :category_name_eq, @categories, :name, :name, include_blank: '指定なし'%>
  <br>
  <%= f.label :name_eq, '商品名' %>
  <%= f.search_field :name_cont, class:"input-item", id:"input-item" %>
  <div id="search-result"></div>
  <br>
  <div class="submit-post">
  <%= f.submit '検索', class: "submit-btn" %>
  </div>
<% end %>
<br>  <br>
  <%# 商品一覧 %>
  <table class="item-lists">
  <thead>
    <tr>
      <th><%= sort_link(@p, :collection_name, "series") %></th>
      <th><%= sort_link(@p, :name, "item") %></th>
      <th><%= sort_link(@p, :category_name, "category") %></th>
      <th><%= sort_link(@p, :opal_color_color, "opal color") %></th>
      <th><%= sort_link(@p, :price, "price") %></th>
      <th colspan = "3" ></th>

    </tr>
    </thead>
    <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.collection.name %></td>
      <td><%= item.name %></td>
      <td><%= item.category.name %></td>
      <% if item.opal_color.present? %>
        <td><%= item.opal_color.color %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= link_to '詳細', item_path(item.id) %></td>
      <td><%= link_to '編集', edit_item_path(item.id) %></td>
      <td><%= link_to '削除', item_path(item.id), method: :delete %></td> 
    </tr>
  <% end %>
  </tbody>
  </table>

  <br>
  <%= link_to "users_index", users_path %>
</div>
