<%= render "shared/header" %>

<div class="container">

  <div class="title">
    <h1>カテゴリー管理</h1>
  </div>
  <div class="sub-title">
    <h2><i class="fas fa-square"></i>カテゴリー編集</h2>
  </div>
  <%= form_with model: @category, url: category_path, local: true, class:"registration-form" do |f| %>
    <p class="parts-subtitle">シリーズ</p>
    <p><%= f.text_field :name, placeholder:"カテゴリー名", class:"other-form" %><%= f.submit '変更' , class:"item-regi-submit" %></p>
  <% end %>
  <%= link_to(:back , class:"back-link") do %>
    <i class="fas fa-backward"></i> 変更せずに戻る
  <% end %>
</div>