<header>
  <div class="header-container">
  <%= image_tag 'logo.png', class: 'title-logo' %>
  <ul class="header-lists">
    <li class="header-list"><%= link_to '作品一覧', items_path %></li>
    <li class="header-list"><%= link_to '作品登録', new_item_path %></li>
    <li class="header-list"><%= link_to '金属パーツ登録', new_part_path %></li>
    <li class="header-list"><%= link_to 'ガラス登録', new_glass_path %></li>
    <li class="header-list"><%= link_to 'その他項目', new_other_items_path %></li>
  </ul>
  <div>
</header>